---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import { Picture } from "@astrojs/image/components";
import RelatedArticles from "../../components/RelatedArticles.astro";
import Share from "../../components/Share.jsx";
import SidebarCTA from "../../components/SidebarCTA.astro";

const { slug } = Astro.params;

let res = await fetch(
    `http://theestate.cargo/wp-json/wp/v2/posts?slug=${slug}`
);
let [post] = await res.json();

// The getStaticPaths() is required for static Astro sites.
// If using SSR, you will not need this function.
export async function getStaticPaths() {
    let data = await fetch("http://theestate.cargo/wp-json/wp/v2/posts");
    let posts = await data.json();

    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post: post },
    }));
}
---

<Layout title={`${post.title.rendered} | The Estate`} nav>
    <main>
        <section>
            <div class="bg-grey-light">
                <Container>
                    <div
                        class="flex flex-col lg:flex-row lg:items-end lg:justify-between gap-10 lg:min-h-[15.25rem] py-14"
                    >
                        <div>
                            <div class="font-medium text-xl mb-3.5">
                                {post.acf.category[0].name}
                            </div>
                            <h1
                                class="font-medium text-4xl md:text-[3.125rem]/[3.625rem] max-w-4xl [text-wrap:balance]"
                            >
                                {post.title.rendered}
                            </h1>
                        </div>

                        <Share
                            title={post.title.rendered}
                            url={post.link}
                            client:visible
                        />
                    </div>
                </Container>
            </div>

            <div>
                <Picture
                    src={post.acf.image.url}
                    alt={post.acf.image.alt}
                    widths={[768, 1024, 1600]}
                    aspectRatio="1600:642"
                    sizes="(max-width: 768px) 100vw, 1024px, 1600px"
                    fit="cover"
                    class="w-full h-full object-cover"
                />
            </div>
        </section>

        <section class="py-16 md:py-24 md:pb-36 bg-white">
            <Container>
                <div
                    class="grid lg:grid-cols-[minmax(0,_auto)_minmax(20.75rem,_20.75rem)] gap-16 xl:gap-36"
                >
                    <div class="max-w-2xl lg:max-w-none">
                        <div class="content" set:html={post.content.rendered} />
                    </div>

                    <SidebarCTA ctaId={post.acf.call_to_action.ID} />
                </div>
            </Container>
        </section>
        <RelatedArticles categoryId={post.categories} />
    </main>
</Layout>
