---
import { Icon } from "astro-icon";

import Layout from "../../layouts/Layout.astro";
import VideoFullScreen from "../../components/VideoFullScreen.astro";
import TextCTA from "../../components/TextCTA.astro";
import LodgeDetails from "../../components/LodgeDetails.astro";
import Gallery from "../../components/Gallery.astro";
import Testimonials from "../../components/Testimonials.astro";
import Categories from "../../components/Categories.astro";
import Booking from "../../components/react/Booking";

const { slug } = Astro.params;

// let api = `${import.meta.env.API_URL}/wp-json/wp/v2/lodges?slug=${slug}`;
let res = await fetch(
	`${import.meta.env.API_URL}/wp-json/wp/v2/lodges?slug=${slug}`
);
let [post] = await res.json();

// The getStaticPaths() is required for static Astro sites.
// If using SSR, you will not need this function.
export async function getStaticPaths() {
	let data = await fetch(`${import.meta.env.API_URL}/wp-json/wp/v2/lodges`);
	let posts = await data.json();

	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post: post },
	}));
}
---

<Layout title={`${post.title.rendered} | The Estate`} description="" nav>
	<main>
		<section class="h-[75dvh] max-lg:max-h-[50rem] flex flex-col">
			{
				post.acf.hero_image && (
					<VideoFullScreen
						image={post.acf.hero_image}
						videoUrl={post.acf.video_url}
					/>
				)
			}
		</section>
		<section class="relative">
			<div>
				<div class="lg:grid lg:grid-cols-2">
					<div
						class="flex flex-col sm:flex-row sm:items-center sm:justify-between py-8 lg:py-6 px-5 gap-4 min-h-[5rem] bg-white lg:pr-16"
						data-push="left"
					>
						<h1 class="text-3xl font-medium">
							{post.title.rendered}
						</h1>
						<div class="flex items-center gap-2">
							<span class="block w-5 h-4">
								<Icon name="bed" />
							</span>
							<span class="font-medium text-[0.938rem]"
								>Up to {post.acf.sleeps} people</span
							>
						</div>
					</div>
					<Booking client:load />
				</div>
			</div>
		</section>
		{post.acf.introduction && <TextCTA text={post.acf.introduction} />}
		<LodgeDetails
			tabs={post.acf.tabs_tabs}
			description={post.acf.short_description}
			carousel={post.acf.image_carousel_image_carousel}
			url={post.acf.booking_url}
		/>

		{post.acf.image_gallery && <Gallery items={post.acf.image_gallery} />}

		<Testimonials />
		<Categories />
	</main>
</Layout>

<style is:global>
	.atb_calendar_container {
		@apply max-w-none;
	}
	#atb_calendar_container > div:last-child {
		@apply mt-5;
	}
	.atb_calendar_container br {
		@apply hidden;
	}
	.atb_calendar_content_container {
		@apply grid grid-cols-1 gap-10 md:grid-cols-3 2xl:gap-20;
	}
	.atb_calendar_content {
		@apply text-xl flex flex-col gap-7;
	}
	.atb_calendar_content > div {
		@apply flex flex-col gap-1;
	}
	.atb_calendar_month {
		@apply text-center font-bold;
	}
	.atb_calendar_content .days {
		@apply grid grid-cols-7 text-center font-medium;
	}
	.atb_calendar_content .days .cell {
		@apply w-10 h-10 font-medium;
	}
	.atb_calendar_content .week_start {
		@apply grid grid-cols-7 text-center;
	}
	.atb_calendar_content .cell .date_number {
		@apply rounded-full w-10 h-10 flex items-center justify-center font-medium;
	}
	.atb_calendar_content .start .date_number {
		@apply rounded-full border-2 border-[#86AC9C] cursor-pointer;
	}
	.atb_calendar_content .selection .date_number {
		@apply bg-[#86AC9C];
	}
	.prev_next_container_top {
		@apply flex justify-between text-xl font-bold mb-8 xl:mb-12;
	}
	.prev_next_container_top span {
		@apply cursor-pointer;
	}
	.prev_next_container_bottom {
		@apply hidden;
	}
	#atb_loading {
		@apply font-medium;
	}
	#atb_loading p {
		@apply text-base;
	}
	#atb_loading strong {
		@apply block font-medium;
	}
	#atb_loading strong:nth-child(1) {
		@apply text-xl block mb-5 xl:mb-10;
	}
	#atb_loading strong:nth-child(2) {
		@apply text-5xl;
	}
	#atb_reset-selection {
		@apply underline text-xl my-7 xl:my-10 cursor-pointer hover:no-underline font-medium;
	}
	#atb_booknow {
		@apply bg-primary-orange hover:bg-white hover:text-primary-orange transition-colors duration-500 ease-in-out text-white font-medium text-3xl py-7 px-6 cursor-pointer;
	}
</style>
