---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import TextCTA from "../components/TextCTA.astro";
import VideoSlider from "../components/VideoSlider.astro";
import Lodges from "../components/Lodges.astro";
import Testimonials from "../components/Testimonials.astro";
import Categories from "../components/Categories.astro";

// let api = `${import.meta.env.API_URL}/wp-json/wp/v2/pages?slug=homepage`;
let res = await fetch(
	`${import.meta.env.API_URL}/wp-json/wp/v2/pages?slug=homepage`
);
let page = await res.json();
---

<Layout
	title={page[0].yoast_head_json.title}
	description={page[0].yoast_head_json.description}
	nav
>
	<main>
		<Hero
			heading={page[0].acf.hero_heading}
			imageLeftUrl={page[0].acf.hero_image_left.url}
			imageLeftAlt={page[0].acf.hero_image_left.alt}
			imageRightUrl={page[0].acf.hero_image_right.url}
			imageRightAlt={page[0].acf.hero_image_right.alt}
			buttonUrl={page[0].acf.hero_link.url}
			buttonText={page[0].acf.hero_link.title}
			buttonTarget={page[0].acf.hero_link.target}
		/>
		<TextCTA
			text={page[0].acf.text_cta_text}
			button
			buttonText={page[0].acf.text_cta_button.title}
			buttonURL={page[0].acf.text_cta_button.url}
			styles="bg-white"
		/>
		<VideoSlider
			videoUrl={page[0].acf.video_slider_video_url}
			videoThumbnailUrl={page[0].acf.video_slider_video_thumbnail.url}
			videoThumbnailAlt={page[0].acf.video_slider_video_thumbnail.alt}
			items={page[0].acf.video_slider_items}
		/>

		{
			page[0].acf.featured_accommodation && (
				<Lodges items={page[0].acf.featured_accommodation} />
			)
		}

		<Testimonials />
		<Categories />
	</main>
</Layout>
