---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Quote from "../components/Quote.astro";
import TextCTA from "../components/TextCTA.astro";
import Lodges from "../components/Lodges.astro";
import VideoSlider from "../components/VideoSlider.astro";
import ImageCTAGrid from "../components/ImageCTAGrid.astro";

let res = await fetch(
	"http://theestate.cargo/wp-json/wp/v2/pages?slug=homepage"
);
let page = await res.json();
---

<Layout title="The Estate">
	<main>
		<Hero
			heading={page[0].acf.hero_heading}
			imageLeftUrl={page[0].acf.hero_image_left.url}
			imageLeftAlt={page[0].acf.hero_image_left.alt}
			imageRightUrl={page[0].acf.hero_image_right.url}
			imageRightAlt={page[0].acf.hero_image_right.alt}
			buttonUrl={page[0].acf.hero_link.url}
			buttonText={page[0].acf.hero_link.title}
			buttonTarget={page[0].acf.hero_link.target}
		/>
		<TextCTA
			text={page[0].acf.text_cta_text}
			button
			buttonText={page[0].acf.text_cta_button.title}
			buttonURL={page[0].acf.text_cta_button.url}
			styles="bg-white"
		/>
		<VideoSlider
			videoUrl={page[0].acf.video_slider_video_url}
			videoThumbnailUrl={page[0].acf.video_slider_video_thumbnail.url}
			videoThumbnailAlt={page[0].acf.video_slider_video_thumbnail.alt}
			items={page[0].acf.video_slider_items}
		/>

		{
			page[0].acf.featured_accommodation && (
				<Lodges items={page[0].acf.featured_accommodation} />
			)
		}
		<Quote
			quote="“What a fabulous place to stay for walking and cycling in the Ullswater lake area. Chalets are well equipped, comfortable and very homely, location is great, but what really makes it stand out are the staff”"
			name="Sarah - Coventry"
		/>
		<ImageCTAGrid />
	</main>
</Layout>
