---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Quote from "../components/Quote.astro";
import TextCTA from "../components/TextCTA.astro";
import Lodges from "../components/Lodges.astro";
import VideoSlider from "../components/VideoSlider.astro";
import ImageCTAGrid from "../components/ImageCTAGrid.astro";

let res = await fetch(
	"http://theestate.cargo/wp-json/wp/v2/pages?slug=homepage"
);
let page = await res.json();
// let acf = page[0].acf

const items = [
	[
		"Kestrel",
		"Country setting with an urban edge in this family and friends suited property. Open plan living in a stunning surrounding and views of Ullswater lakeshore will make this a favourite for many.",
		6,
		"/images/lodge-kestrel-001.jpg",
		"/images/lodge-interior-001.jpg",
		"https://patterdalehallestate.anytimebooking.eu/place_booking/preset/48449/69534/#forward",
	],
	[
		"Osprey",
		"Country setting with an urban edge in this family and friends suited property. Open plan living in a stunning surrounding and views of Ullswater lakeshore will make this a favourite for many.",
		4,
		"/images/lodge-hollow-001.jpg",
		"/images/lodge-interior-001.jpg",
		"https://patterdalehallestate.anytimebooking.eu/place_booking/preset/48449/69535/#forward",
	],
	[
		"Buzzard",
		"Country setting with an urban edge in this family and friends suited property. Open plan living in a stunning surrounding and views of Ullswater lakeshore will make this a favourite for many.",
		6,
		"/images/lodge-buzzard-001.jpg",
		"/images/lodge-interior-001.jpg",
		"https://patterdalehallestate.anytimebooking.eu/place_booking/preset/48449/69536/#forward",
	],
];

const items2 = [
	[
		"The Hollow",
		"Country setting with an urban edge in this family and friends suited property. Open plan living in a stunning surrounding and views of Ullswater lakeshore will make this a favourite for many.",
		6,
		"/images/lodge-hollow-001.jpg",
		"/images/lodge-interior-002.jpg",
		"https://patterdalehallestate.anytimebooking.eu/place_booking/preset/48449/35476/#forward",
	],
	[
		"The Sett",
		"Country setting with an urban edge in this family and friends suited property. Open plan living in a stunning surrounding and views of Ullswater lakeshore will make this a favourite for many.",
		4,
		"/images/lodge-kestrel-001.jpg",
		"/images/lodge-interior-002.jpg",
		"https://patterdalehallestate.anytimebooking.eu/place_booking/preset/48449/35477/#forward",
	],
	[
		"The Drey",
		"Country setting with an urban edge in this family and friends suited property. Open plan living in a stunning surrounding and views of Ullswater lakeshore will make this a favourite for many.",
		6,
		"/images/lodge-drey-001.jpg",
		"/images/lodge-interior-002.jpg",
		"https://patterdalehallestate.anytimebooking.eu/place_booking/preset/48449/35478/#forward",
	],
];
---

<Layout title="The Estate">
	<main>
		<Hero
			heading={page[0].acf.hero_heading}
			imageLeftUrl={page[0].acf.hero_image_left.url}
			imageLeftAlt={page[0].acf.hero_image_left.alt}
			imageRightUrl={page[0].acf.hero_image_right.url}
			imageRightAlt={page[0].acf.hero_image_right.alt}
			buttonUrl={page[0].acf.hero_link.url}
			buttonText={page[0].acf.hero_link.title}
			buttonTarget={page[0].acf.hero_link.target}
		/>
		<TextCTA
			text={page[0].acf.text_cta_text}
			button
			buttonText={page[0].acf.text_cta_button.title}
			buttonURL={page[0].acf.text_cta_button.url}
			styles="bg-white"
		/>
		<VideoSlider
			videoUrl={page[0].acf.video_slider_video_url}
			videoThumbnailUrl={page[0].acf.video_slider_video_thumbnail.url}
			videoThumbnailAlt={page[0].acf.video_slider_video_thumbnail.alt}
			items={page[0].acf.video_slider_items}
		/>
		<Lodges
			id="lakeview-lodges"
			heading="Lakeview lodges"
			description="Our premium lodges set on lakeside fields with exceptional views of Lake Ullswater and the fells that surround us. The properties benefit from large open living spaces with high end fixtures and fittings to make your stay comfortable. Set in lakeside fields, you will be immersed in views both inside and out of these brand new properties. Each have large private decks overlooking the lake and fells."
			items={items}
		/>
		<Lodges
			id="pine-lodges"
			heading="Pine lodges"
			description="More spacious than our chalets, lodges are a great choice for large family groups. The 3 bedroom format works well for accommodating extended family,  friends, or children of different age groups. Benefitting from their proximity to Waterfall Woods, lodge guests frequently report badger and red squirrel sightings from their windows and verandas. And with red deer and over 50 different species of birds regularly sighted, the accommodation is a delight for nature lovers."
			items={items2}
		/>
		<Quote
			quote="“What a fabulous place to stay for walking and cycling in the Ullswater lake area. Chalets are well equipped, comfortable and very homely, location is great, but what really makes it stand out are the staff”"
			name="Sarah - Coventry"
		/>
		<ImageCTAGrid />
	</main>
</Layout>
