---
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";

const { title, text, imageUrl, imageAlt, category, slug } = Astro.props;
---

<a
	href={`/blog/${slug}`}
	class="overflow-hidden relative group cursor-pointer bg-white"
>
	<div class="relative">
		<Picture
			src={imageUrl}
			widths={[768, 1024]}
			aspectRatio="473:549"
			sizes="(max-width: 768px) 100vw, 1024px"
			alt={imageAlt}
		/>
		<div
			class="flex items-center gap-2 bg-white rounded-[100px] absolute top-7 right-7 h-11 px-4"
		>
			<span class="font-medium text-[0.938rem]">{category}</span>
		</div>

		<div
			class="bg-white absolute bottom-0 z-10 w-full translate-y-[calc(100%-6.5rem)] group-hover:translate-y-0 duration-500 ease-in-out px-6 py-7"
		>
			<h3 class="text-3xl font-medium">{title}</h3>
			<p
				class="text-base font-medium text-[#999999] m-0 mt-9 line-clamp-2"
			>
				{text}
			</p>
		</div>
	</div>
	<div class="flex items-center gap-4 relative z-20 bg-white px-6 py-7">
		<span class="text-xl font-medium">Read article</span>
		<span
			class="block w-4 h-4 group-hover:rotate-45 duration-500 ease-in-out"
		>
			<Icon name="arrow" />
		</span>
	</div>
</a>
