---
import Container from "./Container.astro";
import { Picture } from "@astrojs/image/components";

import gallery001 from "../images/lodge-gallery-001.jpg";
---

<section class="py-20">
    <Container>
        <h2 class="font-medium text-3xl mb-9">Gallery</h2>
        <div class="grid grid-cols-6 grid-rows-7 gap-4">
            <div
                class="bg-orange-300 col-span-4 row-span-3 aspect-[831/554] overflow-hidden"
            >
                <Picture
                    src={gallery001}
                    widths={[768, 1024]}
                    aspectRatio="831:554"
                    sizes="(max-width: 768px) 100vw, 1024px"
                    alt="Lodge interior"
                    class="w-full h-full object-cover hover:scale-105 duration-1000 ease-in-out"
                />
            </div>
            <div
                class="bg-orange-400 col-span-2 row-span-2 col-start-5 aspect-[577/385] overflow-hidden"
            >
                <Picture
                    src={gallery001}
                    widths={[768, 1024]}
                    aspectRatio="577:385"
                    sizes="(max-width: 768px) 100vw, 1024px"
                    alt="Lodge interior"
                    class="w-full h-full object-cover hover:scale-105 duration-1000 ease-in-out"
                />
            </div>
            <div
                class="bg-orange-500 col-span-2 row-span-5 col-start-5 row-start-3 aspect-[577/766] overflow-hidden"
            >
                <Picture
                    src={gallery001}
                    widths={[768, 1024]}
                    aspectRatio="577:766"
                    sizes="(max-width: 768px) 100vw, 1024px"
                    alt="Lodge interior"
                    class="w-full h-full object-cover hover:scale-105 duration-1000 ease-in-out"
                />
            </div>
            <div
                class="bg-orange-600 col-span-2 row-span-4 row-start-4 aspect-[401/597] overflow-hidden"
            >
                <Picture
                    src={gallery001}
                    widths={[768, 1024]}
                    aspectRatio="401:597"
                    sizes="(max-width: 768px) 100vw, 1024px"
                    alt="Lodge interior"
                    class="w-full h-full object-cover hover:scale-105 duration-1000 ease-in-out"
                />
            </div>
            <div
                class="bg-orange-700 col-span-2 row-span-4 col-start-3 row-start-4 aspect-[401/597] overflow-hidden"
            >
                <Picture
                    src={gallery001}
                    widths={[768, 1024]}
                    aspectRatio="401:597"
                    sizes="(max-width: 768px) 100vw, 1024px"
                    alt="Lodge interior"
                    class="w-full h-full object-cover hover:scale-105 duration-1000 ease-in-out"
                />
            </div>
        </div>
    </Container>
</section>
