---
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";

const { id } = Astro.props;

let res = await fetch(
	`${import.meta.env.API_URL}/wp-json/wp/v2/lodges?include=${id}`
);
let [post] = await res.json();
---

<a
	href=`/lodges/${post.slug}`
	title={`Find out more and book ${post.title.rendered}`}
	class="overflow-hidden relative group bg-white"
>
	<div class="relative">
		<Picture
			src={post.acf.thumbnail_image.url}
			widths={[480]}
			aspectRatio="483:659"
			sizes="(max-width: 480px) 100vw, 1024px"
			alt={post.acf.thumbnail_image.alt}
			fit="cover"
			class="opacity-100 group-hover:xl:opacity-0 duration-500 ease-in-out"
		/>
		{
			post.acf.thumbnail_hover_image && (
				<Picture
					src={post.acf.thumbnail_hover_image.url}
					widths={[480]}
					aspectRatio="483:483"
					sizes="(max-width: 480px) 100vw, 1024px"
					alt={post.acf.thumbnail_hover_image.alt}
					class="hidden xl:block absolute top-0 left-0 opacity-0 group-hover:opacity-100 duration-500 ease-in-out"
				/>
			)
		}
	</div>
	<div
		class="flex items-center gap-2 bg-white/90 rounded-[100px] absolute top-7 right-7 h-11 px-4"
	>
		<span class="block w-5 h-4">
			<Icon name="bed" />
		</span>
		<span class="font-medium text-[0.938rem]"
			>Up to {post.acf.sleeps} people</span
		>
	</div>

	<div
		class="bg-white xl:absolute bottom-0 w-full xl:translate-y-[calc(100%-5.75rem)] group-hover:xl:translate-y-0 duration-500 ease-in-out"
	>
		<div
			class="flex md:flex-col xl:flex-row items-center md:items-start xl:items-center justify-between gap-5 md:gap-2 lg:gap-3 xl:gap-5 px-6 py-7 md:py-5 xl:py-7"
		>
			<p
				class="text-2xl lg:text-3xl font-medium m-0"
				set:html={post.title.rendered}
			/>
			<span class="flex items-center gap-4">
				<span class="text-xl font-medium">Bookings</span>
				<span
					class="block w-4 h-4 group-hover:rotate-45 duration-500 ease-in-out"
				>
					<Icon name="arrow" />
				</span>
			</span>
		</div>
		<div class="hidden xl:block">
			<div class="px-6 pb-7">
				<p class="text-base text-[#999999] m-0">
					{post.acf.introduction}
				</p>
			</div>
		</div>
	</div>
</a>
